html {
    font-size: 11px;
}

table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
}

div {
    max-width: 100%;
    text-align: center;
}

h4 {
    color: #6e2c00;
}

th {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

img {
    max-width: 25%;
    height: auto;
}

button {
    margin: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

ul {
    list-style: none;
}

#code-block {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    white-space: nowrap;
}

#statusMessage {
    position: relative;
    top: 40px;
}

.buttonGroup {
    padding-top: 20px;
}

.hidden {
    display: none;
}

.div_app div {
    text-align: left;
    padding-left: 20px;
}

#displayNameField {
    font-size: 18px;
    color: #dc7633;
}
